.vscode/
docs/
node_modules/
#src/sdk/
postinstall.js
src/tools/
src/sdk/vscode/
src/sdk/node-red/
#*.tar
.git/
docker/config/config
docker/pipeline/config
docker/platform/config
docker/kuksa.val2iotea/config