.git/
.vscode/
docs/
node_modules/
postinstall.js
src/tools/
src/sdk/cpp/build
src/sdk/vscode/
src/sdk/node-red/
test/integration-tests/sdk-test-suites/cpp/build/
docker/config/config
docker/pipeline/config
docker/platform/config
docker/kuksa.val2iotea/config