{
    "extends": [
        "eslint:recommended",
        "plugin:jasmine/recommended"
    ],
    "parserOptions": {
        "ecmaVersion": 2018,
        "ecmaFeatures": {}
    },
    "plugins": [
        "jasmine"
    ],
    "env": {
        "es6": true,
        "node": true,
        "jasmine": true
    }
}