# Platform
asyncinit==0.2.4
docopt==0.6.2
hbmqtt==0.9.6
passlib==1.7.4
PyYAML==5.3.1
six==1.15.0
transitions==0.8.6
websockets==8.1
# Python SDK example agent-network
jwcrypto==0.8
requests>=2.20.0
cryptography>=3.3.2