async function yourBusinessLogic(ev) {
    // Return your calculation result(s) in the following form
    return Promise.resolve([{
        feature: '{{ TALENT_ID }}.fancyCloudValue',
        value: 42 + Math.random(),
        subject: ev.subject,
        whenMs: Date.now()
    }]);
}