version: "3.6"
services:
  configmanager:
    ports:
      - "9230:9230"
    command:
      - node
      - "--inspect-brk=0.0.0.0:9230"
      - "/app/docker/config/index.js"
  pipeline:
    ports:
      - "9229:9229"
    command:
      - "node"
      - "--inspect-brk=0.0.0.0"
      - "/app/docker/pipeline/index.js"