version: "3.6"
services:
  configmanager:
    build:
      context: ..
      labels:
        iotea.platform.version: "0.5.0"
      dockerfile: docker/config/Dockerfile.amd64
      args:
        - HTTP_PROXY=${DOCKER_HTTP_PROXY}
        - HTTPS_PROXY=${DOCKER_HTTPS_PROXY}
        - API_PORT=${API_PORT-8080}
    hostname: configmanager
    ports:
      - '${API_PORT-8080}:${API_PORT-8080}'
    networks:
      - iotea-platform-network
    volumes:
      - type: bind
        source: "${PLATFORM_CONFIG_DIR-../docker/platform/config}"
        target: "/app/docker/config/config"
  pipeline:
    build:
      context: ..
      labels:
        iotea.platform.version: "0.5.0"
      dockerfile: docker/pipeline/Dockerfile.amd64
      args:
        - HTTP_PROXY=${DOCKER_HTTP_PROXY}
        - HTTPS_PROXY=${DOCKER_HTTPS_PROXY}
    networks:
      - iotea-platform-network
    volumes:
      - type: bind
        source: "${PLATFORM_CONFIG_DIR-../docker/platform/config}"
        target: "/app/docker/pipeline/config"
networks:
  iotea-platform-network:
    name: iotea-platform-network
    driver: bridge