version: "3.6"
services:
  mosquitto:
    build:
      context: ../docker/mosquitto
      labels:
        iotea.mosquitto.version: "1.6.12"
      dockerfile: Dockerfile.amd64
      args:
        - HTTP_PROXY=${DOCKER_HTTP_PROXY}
        - HTTPS_PROXY=${DOCKER_HTTPS_PROXY}
        - MQTT_PORT=${MQTT_PORT-1883}
    hostname: ${MOSQUITTO_HOSTNAME-mosquitto}
    ports:
      - "${MQTT_PORT-1883}:${MQTT_PORT-1883}"
    networks:
      - iotea-platform-network
    volumes:
      - type: bind
        source: "${MOSQUITTO_CONFIG_DIR-../docker/mosquitto/config}"
        target: "/mosquitto/config"
networks:
  iotea-platform-network:
    name: iotea-platform-network
    driver: bridge
