# =================================================================
# Global settings
# -----------------------------------------------------------------
{{#mqtt}}
listener {{mqtt.port}}
{{#mqtt.caCert}}
# Path to the Certification Authority certificate
cafile {{mqtt.caCert}}
{{/mqtt.caCert}}
{{#mqtt.serverCert}}
# Path to the PEM encoded server certificate
certfile {{mqtt.serverCert}}
{{/mqtt.serverCert}}
{{#mqtt.serverKey}}
# Path to the PEM encoded server private key
keyfile {{mqtt.serverKey}}
{{/mqtt.serverKey}}
{{/mqtt}}
{{#ws}}
listener {{ws.port}}
protocol websockets
{{/ws}}
{{#logTypes}}
log_type {{.}}
{{/logTypes}}
log_dest stdout