name: Node.js SDK Unit tests

on:
  push:
    paths:
    - '.github/workflows/test_js_sdk.yml'
    - 'src/core/**/*.js'
    - 'src/adapter/**/*.js'
    - 'src/module.js'
    - 'resources/*.json'
    - 'test/**/*.spec.js'
    - 'test/**/*.json'
  pull_request:
    paths:
    - '.github/workflows/test_js_sdk.yml'
    - 'src/core/**/*.js'
    - 'src/adapter/**/*.js'
    - 'src/module.js'
    - 'resources/*.json'
    - 'test/**/*.spec.js'
    - 'test/**/*.json'

jobs:
  build:
    runs-on: ubuntu-latest
    name: Prepare and Run unit tests

    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v1
      with:
        node-version: '12.x'

    - name: Setup dependencies
      run: yarn --frozen-lockfile

    - name: Auditing dependencies
      run: yarn audit

    - name: Run unit tests
      run: yarn test

    - name: Upload coverage report
      uses: actions/upload-artifact@v2
      with:
        name: Coverage report
        path: reports/coverage/
